*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body{
    width: 100%;
}
.navBarContainer {
    width: 100%; 
}
.navBar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 82px;
}
.navBar img{
    height: 50px;
    margin-left: 100px;                                     
}
.textNavBar{
    display: flex;
}
.textNavBar h1{
    padding: 0 20px;
    width: 100%;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase;
}

.iconsNavBar{
    display: flex;
    margin-right: 100px;
}

.iconsNavBar a{
    color: black;
    padding: 0 20px;
}
.iconsNavBar i {
    transform: scale(1.4);
    transition: 0.5s all ease;
}
.iconsNavBar i:hover {
    transform: scale(1.8);
}

.bannerContainer{
    margin-top: 20px;
    width: 90%;
    margin: auto;
    background-size: cover;
}
.bannerContainer img{
    width: 100%;
}
@media(max-width: 800px){
    .textNavBar h1{
        display: none;
    }
    .navBar img{
        height: 40px;
        margin-left: 20px; 
    }
    .iconsNavBar{
        margin-right: 20px;
    }
}

.footerContainer footer{
    display: flex;
    background-color: #1D1D1D;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footerContainer footer img{
    height: 50px;
    margin-top: 50px;
}
.redes i {
    margin-top: 50px;
    transform: scale(2);
    color: white;
    padding: 0 40px;
    margin-bottom: 40px;
    transition: 0.5s all ease;
}
.yt i:hover{
    transform: scale(2.1);
    color: red;
}
.fb i:hover{
    transform: scale(2.1);
    color: blue;
}


.productContainer{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    justify-content: space-around;
}
.cardContainer{
    width: 340px;
    height: 611px;
    display: flex;
    flex-direction: column;
    margin: 30px 100px;
}
.cardContainer h2{
    margin-top: 20px;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.02em;
}
.cardContainer h3{
    text-align: center;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.02em;
}
.imgCard{
    width: 340px;
    height: 511px;
    object-fit: cover;
}
.imgCard img{
    width: 100%;
    object-fit: cover;
}
.productShow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.productShow h1{
    margin-top: 50px;
    font-weight: 700;
    font-size: 45px;
    line-height: 80px;
}
.detailContainer{
    margin-top: 20px;
    display: flex;
    flex-flow: wrap;
}
.carrouselDetail{
    width: 50px;
}
.carrouselDetail img{
    height: 100px;
    margin-left: 83px;
    margin-top: 10px;
}

.imgPrincipalDetail{
    margin-left: 150px;
    width: 500px;
}
.imgPrincipalDetail img{
    width: 100%;
}
.textDetail{
    width: 450px;
    height: 752px;
    margin-left: 60px;
    margin-top: 20px;
}
@media(max-width: 1300px){
    .detailContainer{
        justify-content: center;
        align-items: center;
    }
}
@media(max-width: 800px){
    .carrouselDetail{
        display: none;
    }
    .textDetail{
        margin-left: 0px;
    }
    .detailContainer{
        justify-content: center;
        align-items: center;
    }
    .imgPrincipalDetail{
        margin-left: 10px;
        align-self: center;
        margin: auto;
        
    }
}

.textDetail h1{
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
}
.textDetail h2{
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    margin-top: 16px;
}
.textDetail h5{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-top: 40px;
}
.textDetail form{
    color:   black;
    font-size: 20px;
    margin-top: 16px;
}
.btnDetail{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    
}
#btnAgregar{
    width: 100%;
    height: 56px;
    background: #4276FB;
    color: white;
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: 0.5s all ease;
}
#btnAgregar:hover{
    background: white;
    color: #4276FB;
    border: 2px solid #4276FB;
}
#btnComprar{
    cursor: pointer;
    width: 100%;
    height: 56px;
    background: #1D1D1D;
    color: white;
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
    border-radius: 4px;
    border: none;
    margin-top: 8px;
    transition: 0.5s all ease;
}
#btnComprar:hover{
    background: white;
    color: #1D1D1D;;
    border: 2px solid #1D1D1D;;
}
.textDetail h3{
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    margin-top: 40px;
    width: 95%;
}
.textDetail h4{
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-decoration-line: underline;
    color: #1D1D1D;
    margin-top: 40px;
}


//MODAL

#exampleModal{
    float: right;
}
@media (min-width: 576px){
    .modal-dialog {
        width: 600px !important;
        height: 90% !important;
        float: right;
        margin-top: 0 !important;
        border-radius: 0px !important;    
    }
}
.imgCardCarrito{
    width: 115px;
    height: 115px;
    object-fit: cover;
}
.cardsCarrito{
    display: flex;
    align-items: space;
    justify-content: flex-start;
    margin-top: 5px;
    
}
.imgCardCarrito img{
    width: 115px;
    height: 115px;
    object-fit: cover;
}
.btnRemoveContainer {
    width: 150px;
    height: 50px;  
    display: flex;
    justify-content: flex-end;
    float: right !important;
}
.btnRemoveContainer button{
    background-color: transparent;
    text-decoration: underline;
    font-size: 20px;
    border: transparent;
    float: right;
}
.productoTagsContainer{
    margin-left: 20px;
    font-size: 2px;
}
.productoTagsContainer h2{
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
    color: #1D1D1D;
    width: 150px;
}
.productoTagsContainer h3{
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #1D1D1D;
}
.btn-close{
    height: 40px;
    width: 40px;
    border-radius: 50% !important;
    background-color: white !important;
    opacity: 200 !important;
    float: right;
    margin-top: 10px;
    margin-left: 10px;
}
.btnCartModal{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.btnCartModal button{
    height: 56px;
    width: 90%;
    background-color: #4276FB;
    margin: auto;
    color: white;
    font-weight: bold;
    border: none;
    transition: 0.5s all ease;
    border-radius: 4px;
    margin-top: 16px;
}
.btnCartModal button:hover{
    background-color: white;
    color: #4276FB;
    border: 2px solid #4276FB;
    transform: scale(1.03);
}
.btnCartModal h1{
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    margin-top: 50px;
}
.btnCartModal h2{
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    margin-top: 32px;
}
.modalTotal{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.modalTotal h3{
    display: inline;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}
.modalTotal h4{
    display: inline;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    }

@media(max-width:450px){
    .productoTagsContainer h2{
        font-weight: bold;
        font-size: 17px;
        line-height: 32px;
        color: #1D1D1D;
        width: 100px;
    }
    .productoTagsContainer h3{
        font-weight: 400;
        font-size: 17px;
        line-height: 32px;
        color: #1D1D1D;
    }
    .btnRemoveContainer button{
        background-color: transparent;
        text-decoration: underline;
        font-size: 15px;
        font-family: 'Poppins';
        border: transparent;
        float: right;
    }
}
